body{
    margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ttt{
  color: #0029FF;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  margin-top: 20px;
}
.tt2{
  color: #FFE600;
}
.all{
  margin-top: 100px;
    position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bacrgr{
    width: 1624px;
    height: 831px;
    object-fit: cover;
    position: absolute;
   
    transform: translate(-50%, -50%);
  }
  .corobka{
    display: flex;
    position: absolute;
    gap: 15px;
  }

  
  .text{
    color: #FFF;
font-family: Cormorant SC;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 134.6%; /* 86.144px */
  }
  .t{
    height: 67px;
    width: 100%;
    margin: auto;
    margin-top: 260px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
body{
    text-align: center;
}
.block{
    width: 570px;
    height: 80px;
    background-color: blue;
    margin: auto;
    color: #ffffff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    display: block;
}
.blockye{
  width: 100%;
  height: 398px;
  background-color: #FFE600;
  margin-top: 100px;
}
.t1{
  width: 590px;
  height: 65px;
  font-size: 48px;
  color: #011aff;
  margin: auto;
  margin-top: 30px;
}
.tt{
  color: #ffffff;
}
.amail{
  width: 365px;
  height: 50px;
  color: #6A6A6A;
  font-size: 24px;
  font-style: normal;
  font-weight: 400; 
  margin: auto;
}
.nomer{
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin: auto;
}