.t{
    height: 67px;
    width: 100%;
    margin: auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
body{
    text-align: center;
}
.block{
    width: 570px;
    height: 80px;
    background-color: blue;
    margin: auto;
    color: #ffffff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    display: block;
}